// COLORS
@white: #fff;
@primary: #ED726D;
@primary-dark:#df4a45;
@light: #dfdfdf;

// SPACING
@p-4: 16px;
@p-6: 24px;
@m-6: 24px;


// GENERAL
h1 {
    text-align: center;
    color: @light;
    font-size: 220%;
    padding-bottom: @p-6;
}

h2 {
    text-align: center;
    color: @light;
    font-size: 160%;
}

h3 {
    text-align: center;
    font-size: 140%;
    padding-bottom: @p-6;
}

h5 {
    font-size: 135%;
    padding: @p-4 0;
}

p {
    text-align: justify;
}

section {
    padding: @p-6;
}

i {
    font-size: 300%;
    color: @primary;
    padding: @p-4;
}

// BUTTONS
.btn-rounded {
    border-radius: 10em;
}

.btn-filled {
    background-color: @primary;
    color: white;
    border-color: @primary; 
    &:hover {
        background-color: @primary-dark;
        border-color: @primary-dark;
    }
}
// HEADER

.navbar-light {
    .navbar-brand {
        color: @primary;
        
    }

    .nav-link {
        color: rgba(0,0,0,0.9)!important;
        &:hover {
            color: rgba(0,0,0,1)!important;
        }
    }
}

.header__content {
    height: 90vh;
    z-index: -1;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1) ), url(/dist/images/best-smoothie-delight-background.jpg) 100% 100% no-repeat;
}

.header__separator__wrapper {
    height: 150px; 
    width: 100%;
    overflow: hidden;
    bottom: 36px;
    position: absolute;
}

.header__separator {
    height: 100%; 
    width: 100%;
    path {
        stroke: none;
        fill: @white;
    }
}

.header__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: @p-4;
}

// SECTION SEPARATOR

.section-separator {
    position: relative;
    height: 400px;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1) ), url(/dist/images/smoothie-delight-products.jpg) 100% 100% no-repeat fixed;
}

.separator {
    height: 40%; 
    width: 100%;
    path {
        stroke: none;
        fill: @white;
    }
}

.separator--bottom {
    position: absolute;
    bottom: 0;
}

// SECTION SMOOTHIE QUALITIES

#smoothie-quality {
    padding: @p-6 0;
}

// MAIL SUBSCRIPTION 
#mail-subscription {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1) ), url(/dist/images/smoothie-delight-products.jpg) 100% 100% no-repeat fixed;
    padding-top: @p-6;
    margin-top: @m-6;

    form {
        text-align: center;
        max-width: 600px;
    }
}

// UTILITIES
.center {
    text-align: center;
}

.flex-center {
    justify-content: center;
}

.light {
    color: @white;
}
